Django>=1.10,<1.11
attrs
boto
celery>=3.1,<4.0
coolfig>=1.0.0
django-click
django-environ
django-extended-choices
django-object-actions
django-redis<4.9.0
django-storages
docker-py>=1.4.0,<2.0
execnet
furl
ipdb
jsonfield
packaging
psycopg2
raven
redis
requests>=2.7,<3.0
uwsgi
