Django>=1.9,<1.10
coolfig>=1.0.0
django-environ
psycopg2
requests>=2.7,<3.0
jsonfield
celery>=3.1,<4.0
redis
django-redis
docker-py>=1.4.0,<2.0
django-click
django-storages-redux
boto
raven
uwsgi
yurl
requests!=2.8.1,!=2.8.0
ipdb
