<html>
    <head>
        <title>Links for {{ package_name }}</title>
        <meta name="api-version" value="2" />
    </head>
    <body>
        <h1>Links for <strong>{{ package_name }}</strong> built on <strong>{{ platform.slug }}</strong></h1>
        {% for index, package, builds in links %}
            <h2>{{ index.slug }}</h2>

            <!--
                Platform: {{ platform.slug }} ({{ platform.pk }})
                Index:    {{ index.slug }} ({{ index.url }})
                Package:  {{ package.slug }} ({{ package.pk }})
            -->

            {% for build in builds %}
                <a href="{{ build.get_absolute_url }}#md5={{ build.get_digest }}" rel="internal">{{ build.filename }}</a><br />
            {% empty %}
                <p>-</p>
            {% endfor %}
        {% endfor %}
    </body>
</html>
